<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="go-import" content="{{ .ImportPrefix }} git {{ .Git.URL }}">
    <meta name="go-source" content="{{ .ImportPrefix }} {{ .HTTP.URL }} {{ .HTTP.URL }}/tree/master{/dir} {{ .HTTP.URL }}/blob/master{/dir}/{file}#L{line}">
    <meta http-equiv="refresh" content="0; url={{ .RedirectURI }}">
</head>
<body>
Nothing to see here; move along.
</body>
</html>
